* {
  margin: 0px;
  box-sizing: border-box;
}

/* The default color for all icons is blue, unless being specified */
i {
  color: rgb(0, 136, 255);
}

#nav > * {
  height: 40px; /* The height of child elements*/
  border: 1px solid #a7a7a7;
}

.image-persional-navbar {
  position: relative;
  border: 10px solid white;
  border-radius: 50%;
  bottom: 60px;
  width: 160px;
  height: 160px;
  object-fit: cover; /* To filling image that matches with the aspect ratio of its box.*/
}

#banner {
  position: relative;
  text-align: center;
  color: white;
  margin: auto;
}

#banner > img {
  width: 90%;
  height: 358px;
  object-position: top;
  object-fit: cover;
  filter: brightness(50%);
}

.ongoing {
  background-color: rgb(0, 166, 255);
  color: white;
  padding: 1px;
  font-style: italic;
  border-radius: 10%;
}

.hobby-icon-container {
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fluency-progress {
  height: 7px;
}

.certificate-vr {
  position: absolute;
  left: 50%;
  width: 1px;
  height: 115px;
  background: #ffc107;
}

.certificate-image {
  width: 160px;
  height: 100px;
  padding-right: 15px;
}

.year-container {
  border: 1px solid;
  background-color: rgb(0, 132, 255);
  border-radius: 30%;
  color: white;
  padding: 2px;
}
